src/org.bpel4chor.splitProcess.test/files/OrderInfo/bpelContent/ProcessOrder.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema
	xmlns:tns="http://www.bpel4chor.org/splitProcess/test/services/ProcessOrder"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	version="1.0"
	targetNamespace="http://www.bpel4chor.org/splitProcess/test/services/ProcessOrder">

	<xs:element name="OrderInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="acountNumber" type="xs:string"></xs:element>
				<xs:element name="oderStatus" type="xs:string"></xs:element>
				<xs:element name="orderTotalPrice" type="xs:int"></xs:element>
				<xs:element name="status" type="xs:string"></xs:element>
				<xs:element name="numDeliveries" type="xs:int"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="processOrder" type="tns:processOrder"></xs:element>

	<xs:complexType name="processOrder">
		<xs:sequence>
			<xs:element ref="tns:OrderInfo" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>