src/org.bpel4chor.splitProcess.test/files/OrderInfo/bpelContent/ProcessOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01.--><xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.bpel4chor.org/splitProcess/test/services/ProcessOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNumber" type="xs:string"/>
        <xs:element name="orderStatus" type="xs:string"/>
        <xs:element name="orderTotalPrice" type="xs:int"/>
        <xs:element name="status" type="xs:string"/>
        <xs:element name="numDeliveries" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>