src/org.bpel4chor.splitProcess.test/files/OrderInfo/bpelContent/ProcessPayment.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema
	xmlns:tns="http://www.bpel4chor.org/splitProcess/test/services/ProcessPayment"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	version="1.0"
	targetNamespace="http://www.bpel4chor.org/splitProcess/test/services/ProcessPayment">

	<xs:element name="Delivered" type="xs:integer"></xs:element>

	<xs:element name="PaymentInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="amt" type="xs:int"></xs:element>
				<xs:element name="actNum" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="processPayment" type="tns:processPayment"></xs:element>

	<xs:complexType name="processPayment">
		<xs:sequence>
			<xs:element ref="tns:PaymentInfo" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>