src/org.bpel4chor.splitProcess.test/files/OrderInfoWithLoop/bpelContent/DeliverProcess.wsdl

<?xml version="1.0"?>
<definitions name="DeliverProcess" targetNamespace="http://www.iaas.uni-stuttgart.de"
	xmlns:tns="http://www.iaas.uni-stuttgart.de" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of services participating in this BPEL process The 
		default output of the BPEL designer uses strings as input and output to the 
		BPEL Process. But you can define or import any XML Schema type and us them 
		as part of the message types. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.iaas.uni-stuttgart.de"
			elementFormDefault="qualified" xmlns:Q1="http://www.iaas.uni-stuttgart.de">

			<element name="OrderInfo">
				<complexType>
					<sequence>
						<element name="acountNumber" type="string" />
						<element name="oderStatus" type="string" />
						<element name="orderTotalPrice" type="int" />
						<element name="status" type="string" />
						<element name="numDeliveries" type="int" />
					</sequence>
				</complexType>
			</element>
			<element name="Response">
				<complexType>
					<sequence>
						<element name="text" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="PaymentInfo">
				<complexType>
					<sequence>
						<element name="amt" type="int" />
						<element name="actNum" type="string" />
					</sequence>
				</complexType>
			</element>


			<element name="Delivered" type="integer"></element>

			<element name="DeliverProcessRequest" type="Q1:DeliverProcessRequestType">
			</element>

			<element name="DeliverProcessResponse" type="string"></element>

			<complexType name="DeliverProcessRequestType">
				<sequence>
					<element ref="Q1:Delivered"></element>
					<element ref="Q1:OrderInfo"></element>
				</sequence>
			</complexType>
		</schema>
	</types>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="DeliverProcessRequestMessage">
		<part name="payload" element="tns:DeliverProcessRequest" />
	</message>

	<message name="DeliverProcessResponseMessage">
		<part name="payload" element="tns:DeliverProcessResponse" />
	</message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the DeliverProcess BPEL process -->
	<portType name="DeliverProcess">
		<operation name="initiate">
			<input message="tns:DeliverProcessRequestMessage" />
		</operation>
	</portType>

	<!-- portType implemented by the requester of DeliverProcess BPEL process 
		for asynchronous callback purposes -->
	<portType name="DeliverProcessCallback">
		<operation name="onResult">
			<input message="tns:DeliverProcessResponseMessage" />
		</operation>
	</portType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION the DeliverProcess partnerLinkType binds the 
		provider and requester portType into an asynchronous conversation. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="DeliverProcess">
		<plnk:role name="DeliverProcessProvider" portType="tns:DeliverProcess" />
		<plnk:role name="DeliverProcessRequester" portType="tns:DeliverProcessCallback" />
	</plnk:partnerLinkType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="DeliverProcessBinding" type="tns:DeliverProcess">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="initiate">
			<soap:operation soapAction="http://www.iaas.uni-stuttgart.de/initiate" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<binding name="DeliverProcessCallbackBinding" type="tns:DeliverProcessCallback">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="onResult">
			<soap:operation soapAction="http://www.iaas.uni-stuttgart.de/onResult" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<service name="DeliverProcess">
		<port name="DeliverProcessPort" binding="tns:DeliverProcessBinding">
			<soap:address location="http://localhost:8080/ode/processes/DeliverProcess" />
		</port>
	</service>

	<service name="DeliverProcessCallback">
		<port name="DeliverProcessPortCallbackPort" binding="tns:DeliverProcessCallbackBinding">
			<soap:address
				location="http://localhost:8080/ode/processes/DeliverProcessCallback" />
		</port>
	</service>
</definitions>